.vs/
*.suo
*.sln.cache
*.csproj.user
/**/bin/
/**/obj/
out/
bin/
obj/
_ReSharper*
packages/

/**/_[Rr]e[Ss]harper*
/**/_ReSharper.*
*.[Rr]e[Ss]harper.user
/**/Ohio.*.ReSharper
*.DotSettings.user

[Tt]humbs.db

*.nupkg

.idea/

conf.ConnectionStrings.config